.sourcecode {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#name {
    font-family: Montserrat, Open Sans;
    font-size: 80px;
    font-weight: bold;
    color: #00FFF0;
}

#surname {
    font-family: Montserrat, Open Sans;
    font-size: 80px;
    font-weight: bold;
    color: white;
}

.home-container {
    background-color: #242733;
}

.about-container {
    background-color: #242733;
    color: white;
}

.header-container {
    background-color: #5B9B97;
}


/* #about {
    background-color: #00FFF0;
    color: #242733;
} */

#about {
    display: inline-block;
    padding: 10px 20px;
    font-family: Montserrat, Open Sans;
    font-weight: bold;
    font-size: 16px;
    color: #242733;
    background-color: #00FFF0;
    text-decoration: none;
    border: 1px solid #007bff;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    /* Ensure cursor changes to pointer on hover */
}

.navbar a {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.main-header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    color: white;
}

.link-hidden {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

#education-header {
    font-family: Montserrat, Open Sans;
    font-size: xx-large;
    font-weight: bold;
    color: white;
    text-align: center;
}

#skill-header {
    font-family: Montserrat, Open Sans;
    font-size: xx-large;
    font-weight: bold;
    color: white;
    text-align: center;
}

.skill-description {
    font-family: Source Sans Pro;
    font-size: 16px;
    color: rgb(195, 194, 194);
}

#about-header {
    font-family: Montserrat, Open Sans;
    font-size: xx-large;
    font-weight: bold;
    color: white;
    text-align: center;
}

#greeting {
    font-family: Montserrat, Open Sans;
    font-size: x-large;
    font-weight: bold;
    color: white;
}

#bio {
    text-align: center;
    font-family: Source Sans Pro;
    color: rgb(195, 194, 194);
}

#student {
    font-family: Montserrat, Open Sans;
    font-size: 17px;
    color: rgb(195, 194, 194);
    font-weight: bold;
}

.institute {
    font-family: Montserrat, Open Sans;
    font-size: medium;
}

.education-description {
    font-family: Source Sans Pro;
    font-size: 16px;
    color: rgb(195, 194, 194);
}

.title {
    font-family: Montserrat, Open Sans;
}

.explanation {
    font-family: Source Sans Pro;
}