.title {
    padding: 20px;
    font-family: Montserrat, Open Sans;
    text-align: center;
    font-size: x-large;
}

#aboutme {
    background-color: #242733;
    height: 100%;
    padding-left: 80px;
    padding-right: 80px;
    color: white;
}

.description {
    font-family: Source Sans Pro;
    color: rgb(195, 194, 194);
    text-align: justify;
}

#skill.description {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
}

.institute {
    font-family: Montserrat, Open Sans;
    font-size: medium;
}

#edu-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}