.title {
    padding: 20px;
    font-family: Montserrat, Open Sans;
    text-align: center;
    font-size: x-large;
    margin-bottom: 20px;
}

.description {
    margin-bottom: 20px;
    font-family: Source Sans Pro;
    color: rgb(195, 194, 194);
    text-align: justify;
}

#aboutme {
    /* height: 125vh; */
    background-color: #242733;
    padding-left: 80px;
    padding-right: 80px;
    color: white;
}

#skill {
    margin-top: 20px;
    margin-left: 20px;
}

#skill.description {
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
}

.edu {
    margin-top: 20px;
    padding-bottom: 40px;
}

.institute {
    font-family: Montserrat, Open Sans;
    font-size: medium;
    font-weight: bold;
}

.edu div {
    display: inline-block;
}

#uni {
    margin-right: 200px;
}