* {
    padding: 0;
    margin: 0;
}

#navbar {
    background-color: #2a9d8f;
    height: 40px;
    padding-top: 10px;
}

#portfolio {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 600px;
    margin-left: 90px;
    font-size: x-large;
    font-weight: bolder;
    text-decoration: none;
    color: white;
}

.nav-btns {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    margin-right: 20px;
    color: white;
    font-size: 14px;
}

#projects.main-container {
    color: white;
}

#links a {
    margin-left: 70px;
    margin-right: -50px;
}